$breakpoints: (
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px
);

$widths: 25, 50, 75, 100, auto;
$heights: 25, 50, 75, 100, auto;

@each $breakpoint in map-keys($breakpoints) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
        @each $i in $widths {
            .w-#{$breakpoint}-#{$i} {
                @if type-of($i) == "number" {
                    width: unquote($i + '%' + ' !important');
                }
                @else {
                    width: #{$i} !important;
                }
            }
        }
        @each $i in $heights {
            .h-#{$breakpoint}-#{$i} {
                @if type-of($i) == "number" {
                    height: unquote($i + '%' + ' !important');
                }
                @else {
                    height: #{$i} !important;
                }
            }
        }
    }
}

@for $i from 1 to 5 {
    .banner-#{$i} {
        background: url('/static/img/#{$i}.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: right;
    }
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 100%;
}
.text-shadow {
    text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15) !important;
}
b,
strong {
    font-weight: bold !important;
}
.user-hover {
    transition: 0.15s ease-in-out;
    
    &:hover {
      background: var(--light);
    }
}